@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --primary: #fe2c55;
    --white: #fff;
    --default-header-height: 60px;
    --color-searching: rgb(241 241 242);
    --background-color: #ffffff;  /* Màu nền */
    --text-color: #000000;
}
* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    background-color: var(--background-color);
    color: var(--text-color);
}

body.dark{
    background-color: #000000;
    color: #fff;

}

button, input, [tabindex]{
    border: none;
    outline: none;
}

a[href]{
    text-decoration: none;
    color: var(--text-color);
}


body{
    .tippy-box{
        border-radius: 8px;
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 24px;
        background-color: rgba(84, 84, 84, 0.92);
    }

    .tippy-arrow{
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^=bottom]>.tippy-arrow::before{
        top: -8px;
    }
}