.wrapper{
    width: 100%;
    margin-top: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 12px;
    border-radius: 8px; 
    max-height: min((100vh - 96px) - 60px, 760px);
    padding-top: 8px;
    overflow: hidden auto;
    list-style-type: none;
    min-height: 100px;
}

.wrapper::-webkit-scrollbar {
    width: 8px; /* Đặt chiều rộng của thanh cuộn */
    background-color: transparent; /* Đặt màu nền của thanh cuộn là trong suốt */
  }
  
.wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(241 241 242); /* Đặt màu nền của nút cuộn là trong suốt */
    border-radius: 5px;
}
  
.wrapper::-webkit-scrollbar-track {
    background-color: transparent; /* Đặt màu nền của vùng bên trong thanh cuộn là trong suốt */
}

.tippy-tooltip {
    width: auto; /* Đặt chiều rộng của tooltip tự động điều chỉnh */
    max-width: 100%; /* Đặt chiều rộng tối đa của tooltip là 100% */
}

